<div class="container text">
  <div class="row">
    
    <h2>Activity</h2>
    <!-- <h4>Top Viewers</h4> -->
  </div>
  <div class="col-md-12 col-lg-12">  
    <div class="row">
      <table class="table table-striped">
        <tr>
          <th class="a"></th>
          <th><p>Name</p></th>
          <th><p>Company</p></th>
          <th><p>Location</p></th>
          <th><p>Views</p></th>
		</tr>
		<tr *ngFor="let user of users; let i = index">
			<td> {{ i }} </td>
			<td>{{ user.fname }} {{user.lname }} </td>
			<td>{{ user.company }} </td>
			<td> {{ user.location}} </td>
			<td> {{ user.clicks }} </td>
		</tr>
        
      </table>
      
    </div>
  </div>
</div>   

