p {
    margin: 0px;
}

.video-grid {
    border: none;
    display: inline-block; 
    padding-left: 10%;
}

.video {
    margin-right: 25%;
    border-radius: 4px; 
}

/*======Prevents blue outline from appearing after it's clicked on======*/
button:focus {outline:0;}
a:focus {outline:0;}
a button:focus {outline:0;}
/*======Prevents blue outline from appearing after it's clicked on======*/

.video:hover {
    background-color: #444;
    opacity: 0.7;
    transition: 200ms;
}

.videoSubTitle {
    color: #444;
    padding-top: 0em;
    border-top: solid #444 1px;
}

.videoSubTitle2 {
    color: #444;
}

.center {
    text-align: center;
}

.imgBtn {
    padding: 0px;
    border: none;
}

/*======PopUp Modal======*/
.modal-header {
    padding-bottom: 5px;
}

.modal-body {
    padding-top: 0px;
}

.subTitles {
    display: flex;
    justify-content: space-around;
}

.onOwn {
    margin-right: 1em;
}

.inMeeting {
   margin-left: 1em;
}

#meeting {
    width: 9em;
    margin-right: 10px;
}

#attendance {
    width: 4.2em;
}

form {
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #fff;
    border: 1px solid #AD1F1F;
    color: #AD1F1F;
    padding: 6px 8px 5px 8px;
}

.btn:hover {
    background-color: #AD1F1F;
    border: 1px solid #AD1F1F;
    color: #fff;
    transition: all ease-in-out 200ms;
}

/* .btn1 {} */
/* .btn2 {} */