
  <!-- <ul
     *ngFor = "let video of videos">
     <li>{{video.url}}></li>
     <li> {{video.picture}}</li>
     <li> {{video.patient}}</li>
     <li>{{video.condition}}</li>
    
  </ul> -->

  <div class="container">
    <div class="row">
      <h2>Videos</h2>
    </div>
    <div class="table-responsive">
      <table class="table"
         *ngIf= 'videos && videos.length'>
         <thead></thead>
            <tbody>
              <tr>
                <td *ngFor= "let video of videos">
                    <a href="{{video.url}}">  
                  <img
                    [src]="video.picture"
                    alt="{{video.picture}}"
                    class="img-responsive"
                    style="max-height: 150px;">
                    {{video.patient}}
                    {{video.condition}}
                    {{i}}
                  </a>
                  </td>
                    
              </tr>  

              <br/>

                  <tr>
                <td *ngFor= "let video of videos2">
                    <a href="{{video.url}}">  
                        <img
                          [src]="video.picture"
                          alt="{{video.picture}}"
                          class="img-responsive"
                          style="max-height: 150px;">
                          {{video.patient}}
                          {{video.condition}}
                          {{i}}
                        </a>
                      </td>
              </tr>  

              <br/>
              <tr>
                <td *ngFor= "let video of videos3">
                    <a href="{{video.url}}">  
                        <img
                          [src]="video.picture"
                          alt="{{video.picture}}"
                          class="img-responsive"
                          style="max-height: 150px;">
                          {{video.patient}}
                          {{video.condition}}
                          {{i}}
                        </a>
                      </td>
              </tr>  

              <br/>
              <tr>
                <td *ngFor= "let video of videos4">
                    <a href="{{video.url}}">  
                        <img
                          [src]="video.picture"
                          alt="{{video.picture}}"
                          class="img-responsive"
                          style="max-height: 150px;">
                          {{video.patient}}
                          {{video.condition}}
                          {{i}}
                        </a>
                      </td>
              </tr>  

              <br/>
            
            
            </tbody>        



      </table>

    </div>


  </div>


  