
  <!-- <ul
     *ngFor = "let video of videos">
     <li>{{video.url}}></li>
     <li> {{video.picture}}</li>
     <li> {{video.patient}}</li>
     <li>{{video.condition}}</li>
    
  </ul> -->

  <div class="container">
    <div class="row">
      <h2>Videos</h2>
    </div>
    <div class="table-responsive">
      <table align="center" class="table"
         *ngIf= 'videos && videos.length'>
         <thead></thead>
            <tbody>
              <tr>
                <td *ngFor= "let video of videos" class="video-grid center">
                    <a data-fancybox data-type='iframe' href="{{video.url}}">  
                  <img
                    [src]="video.picture"
                    alt="{{video.picture}}"
                    class="video"
                    style="height: 150px; width: 250px;">
                    <p>{{video.patient}}</p>   
                    <p>{{video.condition}}</p>
                  </a>
                  </td>
                    
              </tr>  

              <br/>

                  <tr>
                <td *ngFor= "let video of videos2" class="video-grid center">
                    <a data-fancybox data-type='iframe' href="{{video.url}}">  
                        <img
                          [src]="video.picture"
                          alt="{{video.picture}}"
                          class="video"
                          style="height: 150px; width: 250px;">
                          <p>{{video.patient}}</p>   
                          <p>{{video.condition}}</p>
                        </a>
                      </td>
              </tr>  

              <br/>
              <tr>
                <td *ngFor= "let video of videos3" class="video-grid center">
                    <a data-fancybox data-type='iframe' href="{{video.url}}">  
                        <img
                          [src]="video.picture"
                          alt="{{video.picture}}"
                          class="video"
                          style="height: 150px; width: 250px;">
                          <p>{{video.patient}}</p>   
                          <p>{{video.condition}}</p>
                        </a>
                      </td>
              </tr>  

              <br/>
              <tr>
                <td *ngFor= "let video of videos4" class="video-grid center">
                    <a data-fancybox data-type='iframe' href="{{video.url}}">  
                        <img
                          [src]="video.picture"
                          alt="{{video.picture}}"
                          class="video"
                          style="height: 150px; width: 250px;">
                          <p>{{video.patient}}</p>   
                          <p>{{video.condition}}</p>
                        </a>
                      </td>
              </tr>  

              <br/>
            
            
            </tbody>        



      </table>

    </div>


  </div>


  