
  <!-- <ul
     *ngFor = "let video of videos">
     <li>{{video.url}}></li>
     <li> {{video.picture}}</li>
     <li> {{video.patient}}</li>
     <li>{{video.condition}}</li>
    
  </ul> -->

  <div class="container">
    <div class="row">
      <h2>Videos</h2>
    </div>
    <div class="table-responsive">
      <table class="table"
         *ngIf= 'videos && videos.length'>
         <thead></thead>
            <tbody>
              <tr>
                <td *ngFor= "let video of videos; let i = index">
                    {{video.url}}  
                    {{video.picture}}
                    {{video.patient}}
                    {{video.condition}}
                    {{i}}</td>
              </tr>  

              <br/>

                  <tr>
                <td *ngFor= "let video of videos2; let i = index">
                    {{video.url}}  
                    {{video.picture}}
                    {{video.patient}}
                    {{video.condition}}
                    {{i}}</td>
              </tr>  

              <br/>
              <tr>
                <td *ngFor= "let video of videos3; let i = index">
                    {{video.url}}  
                    {{video.picture}}
                    {{video.patient}}
                    {{video.condition}}
                    {{i}}</td>
              </tr>  

              <br/>
              <tr>
                <td *ngFor= "let video of videos4; let i = index">
                    {{video.url}}  
                    {{video.picture}}
                    {{video.patient}}
                    {{video.condition}}
                    {{i}}</td>
              </tr>  

              <br/>
            
            
            </tbody>        



      </table>

    </div>


  </div>


  