.picture{
    
    margin: 15% 0 5% 0;
}

#text{
    
}

.img-quote {
    margin-left: 5%;
}

.email-input {
    margin-bottom: 3%;
}

.reason-input {
    margin-bottom: 3%;
}

.message-input {
    margin-bottom: 1%;
}

.btn {
    background-color: #fff;
    border: 1px solid #AD1F1F;
    color: #AD1F1F;
    padding: 6px 9px 5px 9px;
}

.btn:hover {
    background-color: #AD1F1F;
    border: 1px solid #AD1F1F;
    color: #fff;
}

.img {
    height: 270px;
    border-radius: 6px;
}