#signup{
    width: 500px;
    height: 550px;
}
h4{
    display: inline-block;
    margin: 4px;
}

.btn {
    background-color: #AD1F1F;
    border: 1px solid #AD1F1F;
    color: #fff;
    padding: 6px 8px 5px 8px;
}

.btn:hover {
    background-color: #fff;
    border: 1px solid #AD1F1F;
    color: #AD1F1F;
}
