<div>
    <div>
        <ul class="signin-signup-signout">
                <!-- <li style="height: 0px;"><a [routerLink]="['/signup']" class="signin-up-out-buttons" style="color: #AD1F1F;">Take The Pledge!</a></li> -->
                <li style="height: 0px;"><a [routerLink]="['/signin']" class="signin-up-out-buttons" style="color: #AD1F1F;">Sign In</a></li>
                <li style="height: 0px;"><a (click)="signOutToken()"  class="signin-up-out-buttons" style="color: #AD1F1F;">Sign Out</a></li>
        </ul>
        <img id="logo" src="assets/Remempathy-blacktext.png" alt="RemEmpathy" />
        
    </div>
    <nav class='navbar  navbar-collapse'>
        <div class='container-fluid'>
            <a class='navbar-brand'style="color: white">{{pageTitle}}</a>
            <ul class='nav navbar-nav' id='nav'>
                <li><a [routerLink]="['/home']">HOME</a></li>
                <li><a [routerLink]="['/video']">VIDEOS</a></li>
                <li><a [routerLink]="['/leaderboards']">ACTIVITY</a></li>
                <li><a [routerLink]="['/contact']">FEEDBACK</a></li>
                <li><a [routerLink]="['/profile']">PROFILE</a></li>
             
            </ul>
            
        </div>

    </nav>
    <div class='container'>
        <router-outlet></router-outlet>
    </div>
</div>