h4 {
    margin: 0px;
}

/*======Nav Bar======*/
#logo {
    display: flex;
    justify-content: flex-start;
    margin: 0.3%;
    height: 30%;
    width: 30%;
}

ul a {
    text-decoration: none;
    cursor: pointer;
}

.signin-signup-signout {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.signin-up-out1 {
    /* text-decoration: none; */
    margin-right: 15px;
    font-weight: bold;
}

.signin-up-out2 {
    /* text-decoration: none; */
    margin-right: 15px;
    font-weight: bold;
}

.signin-up-out3 {
    /* text-decoration: none; */
    margin-right: 20px;
    font-weight: bold;
}

@media (min-width: 1400px) {
    .signin-up-out {
        font-size: 1.1em;
    }
}

@media (min-width: 1700px) {
    .signin-up-out {
        font-size: 1.2em;
    }
}

.signin-up-out-buttons::after {
	content: '';
	display: block;
	height: 4px;
	width: 0%;
	background-color: #AD1F1F; 
	transition: all ease-in-out 250ms;
	
}

.signin-up-out-buttons:hover::after {
	width: 100%;
}



.navbar {
    background-color: #AD1F1F;
    display: flex;
    justify-content: space-around;
    margin-left: 0px;
    margin-right: 0px;
    border: none;
    border-radius: 0px;
    font-size: 1.2em
}

#nav li a {
    color: #fff;
    border: none;
}

#nav li a:hover {
    background-color: #8e1818;
    border: none;
}

#nav li a:focus {
    background-color: #AD1F1F;
}

#nav a{
    margin: 0em 0.7em 0em 0.7em;
    padding-left: 2em;
    padding-right: 2em;
}


@media (min-width: 1400px) {
    #nav a{
        margin: 0em 2.5em 0em 2.5em;
    }
}

/* @media (min-width: 1700px) {
    #nav a{
        margin: 0em 4em 0em 4em;
    }
} */