<div>
    <div>
        <ul class="signin-signup-signout">
            <li><a [routerLink]="['/signup']"style="color: white">Sign Up</a></li>
            <li><a [routerLink]="['/signin']"style="color: white">Sign In</a></li>
            <li><a (click)="signOutToken()" style="color: white">Sign Out</a></li>
        </ul>
        <img id="logo" src="./assets/RemEmpathy-blacktext.png" alt="RemEmpathy" />
    </div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <a class='navbar-brand'style="color: white">{{pageTitle}}</a>
            <ul class='nav navbar-nav' id='nav'>
                <li><a [routerLink]="['/home']" style="color: white"><h4>Home</h4></a></li>
                <li><a [routerLink]="['/video']"style="color: white"><h4>Video</h4></a></li>
                <li><a [routerLink]="['/leaderboards']"style="color: white"><h4>Leader Boards</h4></a></li>
                <li><a [routerLink]="['/contact']"style="color: white"><h4>Contact</h4></a></li>
                <li><a [routerLink]="['/profile']"style="color: white"><h4>Profile</h4></a></li>
            </ul>        
        </div>
    </nav>
    <div class='container'>
        <router-outlet></router-outlet>
    </div>
</div>