<div class="container">
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5 col-sm-offset-1 col-md-offset-1">
       
         <form>
          <div class="form-group">
            
              <div>
                  <label class="url user" for="url">Video URL:</label>
                  <input type="text" class="form-control" #url>
                  
                </div>
  
           <div>
              <label class="picture user" for="picture">Picture URL:</label>
              <input type="text" class="form-control" name="picture" #picture>
              
            </div>
  
          <div>
            <label class="patient user" for="patient">Patient Name:</label>
            <input type="text" class="form-control" name="patient" #patient>
          
          </div>
  
          <div>
              <label class="condition user" for="condition">Condition:</label>
              <input type="text" class="form-control" name="condition"  #condition>
              
            </div>
            </div>
            </form>
            
           
              
            <br>
            
         
        
         
          <button class="btn btn-primary" type="submit" (click)= "addVideo(url.value, picture.value, patient.value, condition.value)" >Add Video</button>
          <button class="btn btn-success"(click)='saveVideo()'>Save Video</button>
          <button class="btn btn-danger"(click)='getVideo(videoList[0].url)'>Get Video</button>
             
           
      
            <div class="container">
              <div class="row">
                <div class="table-responsive">
                  <!-- <table align="center" class="table"
                  *ngIf= 'videos && videos.length'>     -->
                  <tr>
                    <td *ngFor= "let video of videoList" class="video-grid center">
                      <a data-fancybox data-type='iframe' href="{{video.url}}">
                        <img
                        [src]="video.picture"
                        alt="{{video.picture}}"
                        class="video"
                        style="height: 150px; width: 250px;">
                      </a>      
                      <p class="videoSubTitle2">{{video.patient}}</p>
                      <p class="videoSubTitle">{{video.condition}}</p>
                    </td>
                  </tr> 
                  <!-- </table>      -->
                </div>
            </div>
            <div class="row">
              <div class="table-responsive">
                <!-- <table align="center" class="table"
                *ngIf= 'videos && videos.length'>     -->
                <tr>
                  <td *ngFor= "let video of videoList" class="video-grid center">
                    <a data-fancybox data-type='iframe' href="{{videoList[0].url}}">
                      <img
                      [src]="video.picture"
                      alt="{{video.picture}}"
                      class="video"
                      style="height: 150px; width: 250px;">
                    </a>      
                    <p class="videoSubTitle2">{{videoList[0].url}}</p>
                    <p class="videoSubTitle">{{videoList[0].url}}</p>
                  </td>
                </tr> 
                <!-- </table>      -->
              </div>
            </div>
          </div>