<div class=container>

  <h1><strong>MUST BE LOGGED IN TO ADD ViDEOS OR DELETE</strong></h1>
<ul>
  <li *ngFor="let item of video | async">
    <input type="text" #updatetext [value]="item.text"/>
    <button (click)="updateItem(item.key, updatetext.value)">Update</button>
    <button (click)="deleteItem(item.key)">Delete</button>
  </li>
 
  <li *ngFor="let item of video | async">
    <input type="text" #updatetext [value]="item.pictureUrl"/>
    <button (click)="updateItem(item.key, updatetext.value)">Update</button>
    <button (click)="deleteItem(item.key)">Delete</button>
  </li>
 
  <li *ngFor="let item of video | async">
    <input type="text" #updatetext [value]="item.patient"/>
    <button (click)="updateItem(item.key, updatetext.value)">Update</button>
    <button (click)="deleteItem(item.key)">Delete</button>
  </li>
 
  <li *ngFor="let item of video | async">
    <input type="text" #updatetext [value]="item.condition"/>
    <button (click)="updateItem(item.key, updatetext.value)">Update</button>
    <button (click)="deleteItem(item.key)">Delete</button>
  </li>
 
</ul>


<!-- this is our new input field -->
<form #newItem >
<input type="text" #videoUrl />
<input type="text" #pictureUrl />
<input type="text" #patient />
<input type="text" #condition />
</form>

<button (click)="addItem(videoUrl.value, pictureUrl.value, patient.value, condition.value) ">Add</button>

<!-- I think you should have the (click) = a modal to confirm -->
<button (click)="deleteEverything()">Delete All</button>
</div>