<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-1">
      <form (ngSubmit)="onUserChanges(f)" #f="ngForm">
        <div class="form-group">
          <label for="name">First Name:</label>
          <input type="text" class="form-control" id="disable" #fname (keyup)="0" readonly>
         
          <label for="name">Last Name:</label>
          <input type="text" id="lName" #lname (keyup)="0" class="form-control">
  
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" ngModel class="form-control">
          
          <label for="password">Password:</label>
          <input type="password" id="password" name="password"ngModel class="form-control">
          <p><i>* Minimum 6 characters</i></p>
          
          <label for="password">Confirm Password:</label>
          <input type="password" id="confirmPassword" name="password" ngModel class="form-control" />
          <p><i>Please confirm your password.</i></p>

          <!-- Eventually pop into 2nd div of -->
          <label for="location">Company:</label>
          <select class="form-control" id="reason">
            <option  *ngFor="let i of location" [value]="i">{{i}}</option>
          </select>
           
          <label for="location">Location:</label>
          <input type="text" id="location" name="location" ngModel class="form-control">
          </div>
          
          <button class="btn btn-primary" type="submit" (click)="onUserChanges(f)">Update Account</button>
      </form>
    </div>
  </div>
</div>