<div class="container text">
  <div class="row">
    <h1>My Profile</h1>
  </div>
	<div class="row">
    	<div class="col-xs-5 col-sm-5 col-md-5">
    		<form (ngSubmit)="onUserChanges(f)" #f="ngForm">
        		<div class="form-group">
            		<div>
            			<label class="user" for="name">First Name:</label>
            			<input type="text" class="form-control" name="fname" ngModel #fname='ngModel' (keyup)="0" required> 
            			<span class="required" *ngIf="!fname.valid && fname.touched">Please Enter your first name</span>
            		</div>
            		<div>
             			<label class="user" for="name">Last Name:</label>
            			<input type="text" class="form-control" name="lname" ngModel #lname='ngModel' (keyup)="0" required>
             			<span class="required" *ngIf="!lname.valid && lname.touched">Please Enter your last name</span>
             		</div>
            		<div>
            			<label class="user" for="email">Email:</label>
            			<input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
            			<span class="help required" *ngIf="!email.valid && email.dirty">Please enter a valid email</span>
            		</div>
                	<label class="user" for="password">Password:</label>
                	<input type="password" id="password" name="password" ngModel class="form-control" #password="ngModel">
                  <p><i>* Minimum 6 characters</i></p>
                  
            		<label for="password">Confirm Password:</label>
            		<input type="password" id="confirmPassword" name="password" ngModel class="form-control"/>
            		<p><i>Please confirm your password.</i></p>
            		<!-- Eventually pop into 2nd div of -->
            		<label class="user" for="company">Company:</label>
            		<select class="form-control" id="reason">
              			<option  *ngFor="let i of company" [value]="i">{{i}}</option>
            		</select>
            		<label class="user" for="location">Location:</label>
           			<select class="form-control" id="reason">
                  		<option  *ngFor="let i of location" [value]="i">{{i}}</option>
            		</select>  
            	</div>
            	<button class="btn btn-primary" type="submit" (click)="onUserChanges(f)">Update Account</button> 
        	</form>
        </div>
        
        <!-- pledge section below -->
		<div class="col-md-6 pledge"> <!-- <div class="col-xs12 col-sm-12 col-md-6 col-sm-offset-1 col-md-offset-1 pledge"> -->
    		<div style="text-align:center;">
      			<h2 style="font-size: 3em;">The Pledge:</h2>
    		</div>
    		<h4 class="main">I, {{fname.value}} {{lname.value}}, recognize that my work ultimately creates value by improving people’s lives, particularly patients and caregivers. 
       		As such, I recognize the importance of remembering and having empathy for their journies.  
       		Hence, I pledge to do small and simple things each day to remain and help others to be inspired to make their lives better.</h4>
       		<div class="signHere">
         		<p class="x" style="font-family:Arial, Helvetica, sans-serif">x</p>
         		<h2 class="signature" placeholder="Sign here">{{fname.value}}</h2><h2 class="signature">{{lname.value}}</h2> 
       		</div>
        </div>

	</div>
</div>