button:focus {outline:0;}

.user{
    margin-top: 1%;
    
}

.text {
    font-family: 'Roboto', sans-serif;
    color: #444;
}

#signup{
    width: 500px;
    height: 550px;
}
h1, h2{
    display: inline-block;
    margin: 4px;
}

.user{
    margin-top: 2%;

}

.required {
    color: rgb(209, 46, 46);
}


.pledge {
    font-family: 'Great Vibes', cursive;    
    border: 1px solid #444;
    border-radius: 4px;
    padding: 15px 15px 15px 15px;  
    margin-left: 4%; 
}

    .main {
        /* font-family: 'Tangerine', cursive; */

        font-family: 'Cinzel Decorative', cursive;

        font-size: 1.8em;
        margin-bottom: 1em;
    
    }
    .signature {
        font-family: 'Great Vibes', cursive;
        font-size: 5em;
        margin-left: 15px;
        margin-bottom: -30px;
    }

    .signHere {
        border-bottom: 1px solid #999;
        margin-bottom: 5%;
    }

    .x {
        display: inline-block;
        left: 0px;
    }

p{margin: 0px;}

.a {
    margin-bottom: 0px;
}

.b {
    padding-left: 0px;
}

.btn {
    background-color: #fff;
    border: 1px solid #AD1F1F;
    color: #AD1F1F;
    padding: 6px 8px 5px 8px;
}

.btn:hover {
    background-color: #AD1F1F;
    border: 1px solid #AD1F1F;
    color: #fff;
    /* cursor: pointer; */
}

.links {
    display: flex;
    justify-content: space-between;
}

.btn {
    margin-bottom: 5%;
}