<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" id="pledge">
      
        <h1>Pledge</h1>
        
        <p>I recognize that my work ultimately creates value by improving people’s lives, particularly patients and caregivers. 
            As such, I recognize the importance of remembering and having empathy for their journies.  
            Hence, I pledge to do small and simple things each day to remain and help others to be inspired to make their lives better.</p>        
      
       
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" id="rightSide">
      <div class="rightSide-top" id="leaderboard">
        <h3>Leader Board Here</h3>
      </div>
      <div class="rightSide-bottom rightSide-bottom-bgColor" id="spotLight"> 
        <h4 class="header">Top Videos</h4>
					<Table align="center">
						<tr>

							<td>
								<table>
									<tr>
										<td><a data-fancybox data-type='iframe' data-src="https://www.youtube.com/embed/MXTd8xd_f8s"><img class='picture' src="https://i.ytimg.com/vi/MXTd8xd_f8s/maxresdefault.jpg"></a></td>
									</tr>
									<tr>
											<td class='videoTitle'>Julie Flygare</td>
									</tr>
									<tr>
											<td class='videoSubTitle'>Narcolepsy</td>
									</tr>
								</table>
							</td>

							<td>
									<table>
											<tr>
												<td><a data-fancybox data-type='iframe' data-src="https://www.youtube.com/embed/3HuxRDX0kbs"><img class='picture' src="https://i.ytimg.com/vi/rZ-b1omWXH4/maxresdefault.jpg"></a></td>
											</tr>
											<tr>
													<td class='videoTitle'>Ryan Prior</td>
											</tr>
											<tr>
													<td class='videoSubTitle'>Chronic Fatigue</td>
											</tr>
										</table>
							</td>

							<td>
									<table>
											<tr>
												<td><a data-fancybox data-type='iframe' data-src="https://www.youtube.com/embed/fNKfakkH8Yg"><img class='picture' src="http://storytelling.healthcentral.com/encoded/56ac223a4ee9b1a6393515f0/image/62ac6fa3-efdd-40fc-875b-2fba99b96682_leslie_Rott_hero2.jpg"></a></td>
											</tr>
											<tr>
													<td class='videoTitle'>Leslie Rott</td>
											</tr>
											<tr>
													<td class='videoSubTitle'>Lupus</td>
											</tr>
										</table>
							</td>

						</tr>
					</Table>
      </div>
    </div>
  </div>
</div>
