button:focus {outline:0;}

h4 {
    margin-bottom: 0px;
}


/* ======Take The Pledge====== */
#about {
    margin-bottom: 2.5%;
}

.text {
    margin-bottom: 2.5%;
    font-family: 'Roboto', sans-serif;
    color: #444;
}

.text p {
    margin-bottom: 4%;
}

#spotLight{
   padding-bottom: 28px;
}

.TTP {
    text-align: center;
}

.btn {
    background-color: #fff;
    border: 1px solid #AD1F1F;
    color: #AD1F1F;
    padding: 12px 9px 11px 9px;
}

.btn:hover {
    background-color: #AD1F1F;
    border: 1px solid #AD1F1F;
    color: #fff;
}

.btn:hover {
    background-color: #AD1F1F;
    border: 1px solid #AD1F1F;
    color: #fff;
}

/* .TTPT {
color: #fff;
} */

button h3 {
    margin: 0px;
}


/* ======Top Videos====== */
.header {
    color: #fff;
    background-color: #AD1F1F;
    padding: 7px 0px 7px 0px;
    border-radius: 3px;
}

.picture {
    cursor: pointer;
    height: 90px;
    width: 160px;
    border-radius: 4px;
}

.picture:hover {
    opacity: 0.75;
}

@media(max-width: 1199px) {
    .picture {
        height: 70px;
        width: 120px;
    }
}

/* @media all and (max-width: 768px) and (min-width: 991px) {
    .picture {
        height: 80px;
        width: 130px;
    }
} */


/* table {
    width: 95%;
} */

td {
    padding: 1em 1.2em 0em 1.2em;
    text-align: center;
}

.videoTitle {
    color: #337ab7;
    padding-top: 0.5em !important;
}

.videoSubTitle {
    color: #337ab7;
    padding-top: 0em;
    border-top: solid #337ab7 1.5px;
}

.videoLi {
    display: inline-block;
    text-align: center;
    margin: 4% 1%;
    box-sizing: border-box;
    padding: .7%;
}


.videoTable {
    text-align: center;
}

.padding {
    padding-left: 0px;
}

.padding2 {
    padding-right: 0px;
}
/*======Leaderboard======*/
.activity {
    padding: 0px;
    margin: 0% 4% 5% 4%;
}

#leaderboard {
    border: 1px solid #eaeaea;
    background-color: #eaeaea;
    border-radius: 10px;
    /* text-align: center; */
}

.title {
    margin: 10px 0px 26px 0px; 
    color: #fff;
    background-color: #AD1F1F;
    padding: 8px 0px 8px 0px;
    border-radius: 3px;
    text-align: center;
}

.table-striped th {
    background-color: #a1a1a1;
}

.table-striped th p {
    color: #fff;
    margin-bottom: 0px; 
    font-weight: normal;
    font-size: 1.2em;
    text-transform: uppercase;
    /* text-align: center; */
}

.table{
    font-family: 'Roboto', sans-serif;
    padding: 8px;
}


.table-striped tr:nth-child(even){
    background-color: rgb(230, 230, 230);
} 

.table-striped td {
    color: #444;
}