h4 {
    margin-bottom: 0px;
}


/* ======Take The Pledge====== */
.rightSide-top{
    border: 1px solid #eaeaea;
    background-color: #eaeaea;
    margin-bottom: 5%;
    border-radius: 10px;
    text-align: center;
}

.rightSide-bottom{
    margin-bottom: 5%;
    border-radius: 10%;
    text-align: center;
}

.header {
    color: #fff;
    background-color: #AD1F1F;
    padding: 7px 0px 7px 0px;
    border-radius: 3px;

}

/* .rightSide-topVideos-bgColor {
    border: 1px solid #AD1F1F;
    background-color: #AD1F1F;
    
} */

#pledge {
    margin-bottom: 5%;
}

#pledge p {
    margin-bottom: 2%;
}

#spotLight{
   padding-bottom: 28px;
}

.TTP {
    text-align: center;
}


.btn {
    background-color: #fff;
    border: 1px solid #AD1F1F;
    color: #AD1F1F;
    padding: 12px 9px 11px 9px;
}

/* .TTPT {
    color: #fff;
} */
.btn:hover {
    background-color: #AD1F1F;
    border: 1px solid #AD1F1F;
    color: #fff;
}

button h3 {
    margin: 0px;
}

button:focus {outline:0;}

/* ======Top Videos====== */
.picture {
    cursor: pointer;
    height: 150px;
    width: 250px;
    border-radius: 4px;
}

.picture:hover {
    opacity: 0.75;
}

@media(max-width: 1200px) {
    .picture {
        height: 60px;
        width: 110px;
    }
}

/* @media all and (max-width: 768px) and (min-width: 991px) {
    .picture {
        height: 80px;
        width: 130px;
    }
} */


/* table {
    width: 95%;
} */

td {
    padding: 1em 1.2em 0em 1.2em;
    text-align: center;
}

.videoTitle {
    color: #337ab7;
    padding-top: 0.5em !important;
}

.videoSubTitle {
    color: #337ab7;
    padding-top: 0em;
    border-top: solid #337ab7 1.5px;
}

.videoLi {
    display: inline-block;
    text-align: center;
    margin: 4% 1%;
    box-sizing: border-box;
    padding: .7%;
}


.videoTable {
    text-align: center;
}
