<div class="container">
  <div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5" id="pledge">
      
        <h1>Pledge</h1>
        <h3>Some Text</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nam adipisci labore facere molestiae? Quo repellat at unde deserunt cum inventore enim qui voluptatem? Corporis aperiam eveniet aut cumque quidem?</p>        
      
       
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5" id="rightSide">
      <div class="rightSide" id="leaderboard">
        <h3>Leader Board Here</h3>
      </div>
      <div class="rightSide" id="spotLight"> 
        <h4>Top Videos here  Test</h4>
      </div>
    </div>
  </div>
</div>
